//- https://pugjs.org/language/includes.html
//- https://pugjs.org/language/attributes.html

- var tayste = "Bien le bonjour camarade"

- var menu = [{text: "🏡", link:"/"}, {text: "À propos", link:"/about"}, {text: "Contact", link:"/contact"}]

- var film1 = { actors: ["Bob", "Patrick", "Sandy"], category: "Drama", date: "21 mars 2021", description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam eaque voluptatem voluptatum qui placeat quo.", image: {src: "images/logo-rotten-straberry.png"}, realisator: "Bob le réal", title: {text: "Mon premier super film",link: "#"}}
- var film2 = { actors: ["Nic cage"], category: "Action", date: "2 avril 2019", description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam eaque voluptatem voluptatum qui placeat quo.", image: {src: "images/logo-rotten-straberry.png"}, realisator: "Michel le réal", title: {text: "Nic cage le retour",link: "#"}}
- var film3 = { actors: ["Steven seagal"], category: "Comédie", date: "18 juillet 1997", description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam eaque voluptatem voluptatum qui placeat quo.", image: {src: "images/logo-rotten-straberry.png"}, realisator: "Patrick le réal", title: {text: "Steven Action pack",link: "#"}}
- var films = [film1, film2, film3]