* {
  box-sizing: border-box;
  word-break: break-word;
}

img {
  height: auto;
  max-width: 100%;
}

html {
  background-color: #833ab4;
  background-image: linear-gradient(320deg, #690e04 0%, salmon 50%, white 100%);
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/bg.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

article {
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid #00B7FF;
  color: #fbfbfb;
  margin-bottom: 1em;
  padding: 1em;
}

article .description {
  margin: .5em 0;
}

checkbox, input, select, textarea {
  font-size: 1.2em;
  height: 4em;
  padding: .8em 1.6em;
  width: 100%;
}

sidebar {
  width: 100%;
}

.container {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: justify;
  padding: 0 .5em;
}

.menu ul {
  font-size: 2em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  text-align: center;
  width: 100%;
}

.menu a {
  display: block;
  padding: .5em 2em;
  width: 100%;
}

.menu a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.search {
  width: 100%;
}

.search table {
  width: 100%;
}

.search-button {
  font-size: 1.2em;
}

.title {
  text-align: center;
}
